#NOTE THAT THERE ARE ERRORS IN THE YML FILE FOR YOU TO FIX
version: '3' # Docker-compose yml version for docker compose builder
services: 
  web: 
   build: ./roles/web/
   restart: always
   depends_on:
     - db_mysql
   ports: 
     - 8088:8080
   networks: # Define netwroks per service / role
     - app_layer
     - db_layer
   entrypoint: ## this wil overide the CMD / entrypoint in our dockerfile
     - java 
     - -jar 
     - -Dspring.profiles.active=mysql 
     - /code/spring-music.jar
  
  db_mysql:
    image: mariadb:10.6
    restart: always
    environment: # env variables 
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=music
    ports:
      - 3306:3306
    networks:
      - db_layer

# this will replace:  
 #docker run --rm -itd --network db_layer  --name db_mysql -e MYSQL_ALLOW_EMPTY_PASSWORD=yes -e MYSQL_DATABASE=music -p 3306:3306 -v $(pwd):/app wangxian/alpine-mysql

networks: # custom configuration per network defined
  db_layer:
    driver: bridge
  app_layer:
    driver: bridge

volumes:
  logicalVoloume01:
 

